<app-header [logInButton]="true"></app-header>

<main>
  <form [formGroup]="form" autocomplete="off">
    <mat-card class="card">
      <mat-form-field class="form-field">
        <mat-label>Login</mat-label>
        <input matInput type="text" formControlName="login" minlength="3" maxlength="30" required />
        <mat-error *ngIf="form.controls.login.invalid">{{ getLoginErrorMessage() }}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" minlength="6" required />
        <mat-error *ngIf="form.controls.password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
      </mat-form-field>

      <div class="button-field">
        <button
          mat-raised-button
          color="primary"
          onclick="return false"
          (click)="handleButtonClick()"
          [disabled]="form.touched && form.invalid">
          Register
        </button>
      </div>
    </mat-card>
  </form>  
</main>
